<h1>Never use Duo again!</h1>
<h2>Get it now:</h2>
<p>Firefox: install from <a href="https://addons.mozilla.org/en-US/firefox/addon/nocas/">here</a>.</p>
<p>Chrome: Google requires a $5 payment to publish on the Chrome Web Store, so you'll have to install it manually.<br>
    It's not hard, and only takes 15 seconds. <a href="instructions-chrome.html">Here's how.</a></p><br><br>

<h3>What this does:</h3>
<p>Since November 2017, IU has required you to use Duo whenever you sign in to your IU account,<br>
    which is quite annoying. This extension keeps you logged in to the account once you've signed in once,<br>
    removing the need to type in your username/password and authorize via Duo frequently.</p><br>

<h3>Is it safe?</h3>
<p>There's a reason IU chose to require Duo to sign in. If someone steals your computer, and<br>
    you don't have Duo enabled (such as if you used this extension to effectively disable it),<br>
    they can access your IU account. While <a href="https://uits.iu.edu/">UITS</a> can probably help you secure it again
    and<br>
    mitigate damage, ultimately you are removing a security feature, and that increases risk.</p><br>

<h3>How it works:</h3>
<p>A 'cookie' is a small piece of data (think post-it note) that a website can store. When you (joesmith@iu.edu, for
    example)<br>
    log in, IU's systems store a cookie on your browser (let's say Firefox) that remembers who you are and that you're
    signed in.<br>
    But there's a catch here. When IU's systems tell Firefox to remember that you're 'joesmith,' Firefox asks IU how
    long this<br>
    information should be kept. IU, being a security-minded university, tells Firefox to only keep this data until you
    close your<br>
    browser. Next time you open up the internet and want to go to Canvas or One.IU or anything else, you need to log in
    again<br>
    because the cookie was forgotten. This extension waits for IU to store the login cookie, and then tells your browser
    to remember it<br>
    for a much longer period of time.</p><br>

<h3>Is this spying on me?</h3>
<p>No, it just tells your browser to remember your IU login for longer. 
You can view the source code <a href="https://bitbucket.org/subraizada3/nocas">here</a>.
</p><br>

<h3>I can't log out!!!</h3>
<p>Click the no-IU button on your browser's address bar to logout.<br>
It is a red circle with 'IU' written inside it, and should appear just to the right
of wherever you type in URLs.
</p><br>

<h3>I have to login twice every time?!?!</h3>
<p>Click the no-IU button (see the logout section above). This will fix the problem.<br>
Why does this happen? Suppose you are in Bloomington and login. IU's systems give your<br>
a randomly generated ID to identify you, and tell your computer to forget it in the near<br>
future. This extension tells your computer to keep the ID for a long time, so you don't<br>
have to log in again. Now, you travel to Chicago on break. When you try to access Canvas,<br>
your computer sends over the ID it received earlier. IU's systems detect that something<br>
is fishy here - an ID it issued to someone in Bloomington is being used by someone in<br>
Chicago! It rejects the login, and makes you login again. However, your browser is already<br>
remembering the old ID, so it will only remember the new Chicago ID for a short period of<br>
time, and you will have to login frequently. Clicking the no-IU button clears all stored<br>
IDs, so the new ID is stored correctly when you log in. I'm not sure why having to log<br>
in twice happens.</p>
