1) Download the extension from <a
        href="http://www.subraizada.com/nocas/nocas.crx">here</a>. This will save as 'nocas.crx'<br>
2) Open the downloaded extension's folder
<br><img src="chromeStep1.png"><br>
3) Open up Chrome, and type in "chrome://extensions" into the URL bar
<br><img src="chromeStep2.png"><br>
4) Drag the downloaded extension into the extensions page
<br><img src="chromeStep3.png"><br>
